# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
abpcommunity-yoyocmstemplate-aspnet-core/src/LTMCompanyName.YoyoCmsTemplate.Web.Host/App_Data/Logs/
abpcommunity-yoyocmstemplate-aspnet-core/src/LTMCompanyName.YoyoCmsTemplate.Web.Mvc/App_Data/Logs/
abpcommunity-yoyocmstemplate-aspnet-core/src/LTMCompanyName.YoyoCmsTemplate.Migrator/Logs/Logs.txt
